.chatList {
    flex: 1;
    overflow: auto;
    background-color: #1a1a1a;
    /* Dark background */
}

.chatList .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.chatList .search .searchBar {
    flex: 1;
    background-color: rgba(17, 25, 40, 0.5);
    /* Darker blue */
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
}

.chatList .search .searchBar input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    flex: 1;
    font-size: 16px;
}

.chatList .search .searchBar img {
    width: 20px;
    height: 20px;
}

.chatList .search .add {
    width: 36px;
    height: 36px;
    background-color: #5183fe;
    /* Blue */
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chatList .search .add:hover {
    background-color: #4268d0;
    /* Darker blue on hover */
}

.chatList .item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd35;
    transition: background-color 0.3s ease;
}

.chatList .item:hover {
    background-color: #2b2b2b;
    /* Darker background on hover */
}

.chatList .item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.chatList .item .texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #fff;
}

.chatList .item .texts span {
    font-weight: bold;
    font-size: 16px;
}

.chatList .item .texts p {
    font-size: 14px;
    font-weight: 300;
    color: #ccc;
}